doctype html
html(lang='ru-RU')
  head
    meta(charset='utf-8')
    title Главная страница
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='keywords' content='')
    link(rel='stylesheet' type='text/css' href='css/style.css')
  body
    .wrapper
      header.header
        .container
          nav.nav
            a.nav__logo-link
              span.visually-hidden Логотип сайта "Ещё кусочек"
              // SVG иконки принято вставлять в родном синтаксисе, так как их приходится часто редактировать и в родном виде это делать удобнее и проще. А такой исходный код SVG иконок м ыбудем вставлять с помощью блочного стиля
              .
                <svg class="header__logo" width="194" height="35" viewBox="0 0 194 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.12341 29.8902H2.41983C2.48042 30.2215 2.62811 30.4926 2.86289 30.7034C3.10526 30.9067 3.44608 31.0084 3.88536 31.0084C4.20345 31.0084 4.50262 30.9481 4.78285 30.8277C5.06308 30.6996 5.28651 30.5227 5.45313 30.2968C5.96058 30.5453 6.63464 30.8126 7.47533 31.0987C7.24055 31.6258 6.81263 32.0475 6.19158 32.3637C5.5781 32.6724 4.77528 32.8268 3.78311 32.8268C2.49556 32.8268 1.54127 32.5331 0.920216 31.9458C0.306739 31.351 0 30.5716 0 29.6078C0 28.6666 0.306739 27.9023 0.920216 27.315C1.53369 26.7277 2.48799 26.434 3.78311 26.434C4.55564 26.434 5.22592 26.5621 5.79395 26.8181C6.36199 27.0741 6.79748 27.4317 7.10043 27.8911C7.40338 28.3428 7.55486 28.8624 7.55486 29.4497C7.55486 29.6455 7.54728 29.7923 7.53214 29.8902H6.12341ZM3.94216 28.1395C3.56347 28.1395 3.25294 28.2111 3.01058 28.3541C2.76822 28.4972 2.59781 28.693 2.49935 28.9415H5.18047C5.08959 28.7005 4.9419 28.5085 4.73741 28.3654C4.53292 28.2148 4.26783 28.1395 3.94216 28.1395Z" fill="#222222"/>
                <path d="M17.2865 30.6582V34.9163H14.9349V32.7139H8.34567C8.38354 31.8555 8.40247 30.8277 8.40247 29.6304C8.40247 28.4332 8.38354 27.4054 8.34567 26.547H10.686V30.6582H11.5607V26.547H13.5716V30.6582H14.435V26.547H16.7753C16.7374 27.428 16.7185 28.4897 16.7185 29.7321V30.6582H17.2865Z" fill="#222222"/>
                <path d="M24.2073 29.8902H20.5037C20.5643 30.2215 20.712 30.4926 20.9468 30.7034C21.1892 30.9067 21.53 31.0084 21.9693 31.0084C22.2874 31.0084 22.5865 30.9481 22.8668 30.8277C23.147 30.6996 23.3704 30.5227 23.537 30.2968C24.0445 30.5453 24.7185 30.8126 25.5592 31.0987C25.3245 31.6258 24.8965 32.0475 24.2755 32.3637C23.662 32.6724 22.8592 32.8268 21.867 32.8268C20.5795 32.8268 19.6252 32.5331 19.0041 31.9458C18.3906 31.351 18.0839 30.5716 18.0839 29.6078C18.0839 28.6666 18.3906 27.9023 19.0041 27.315C19.6176 26.7277 20.5719 26.434 21.867 26.434C22.6395 26.434 23.3098 26.5621 23.8779 26.8181C24.4459 27.0741 24.8814 27.4317 25.1843 27.8911C25.4873 28.3428 25.6388 28.8624 25.6388 29.4497C25.6388 29.6455 25.6312 29.7923 25.616 29.8902H24.2073ZM22.0261 28.1395C21.6474 28.1395 21.3369 28.2111 21.0945 28.3541C20.8521 28.4972 20.6817 28.693 20.5833 28.9415H23.2644C23.1735 28.7005 23.0258 28.5085 22.8213 28.3654C22.6168 28.2148 22.3517 28.1395 22.0261 28.1395ZM20.9582 26.1178C20.7537 26.1178 20.5795 26.0463 20.4356 25.9032C20.2917 25.7601 20.2197 25.587 20.2197 25.3836C20.2197 25.1879 20.2917 25.0185 20.4356 24.8754C20.5795 24.7323 20.7537 24.6608 20.9582 24.6608C21.1551 24.6608 21.3255 24.7323 21.4694 24.8754C21.6133 25.0185 21.6852 25.1879 21.6852 25.3836C21.6852 25.587 21.6133 25.7601 21.4694 25.9032C21.3255 26.0463 21.1551 26.1178 20.9582 26.1178ZM22.7872 26.1178C22.5827 26.1178 22.4085 26.0463 22.2646 25.9032C22.1207 25.7601 22.0488 25.587 22.0488 25.3836C22.0488 25.1879 22.1207 25.0185 22.2646 24.8754C22.4085 24.7323 22.5827 24.6608 22.7872 24.6608C22.9842 24.6608 23.1546 24.7323 23.2985 24.8754C23.4424 25.0185 23.5143 25.1879 23.5143 25.3836C23.5143 25.587 23.4424 25.7601 23.2985 25.9032C23.1546 26.0463 22.9842 26.1178 22.7872 26.1178Z" fill="#222222"/>
                <path d="M20.193 12.4415C21.3785 13.3942 22.2873 14.466 22.9196 15.6569C23.5519 16.8477 24.1446 18.2768 24.6978 19.944C25.2511 21.3995 25.6462 22.3522 25.8833 22.8021H16.3598C16.2808 22.6168 16.1228 22.0346 15.8857 21.0555C15.6749 20.0763 15.4641 19.2956 15.2534 18.7134C15.0426 18.1048 14.7265 17.5755 14.305 17.1256C13.6464 16.4111 12.9087 15.948 12.0921 15.7362C11.2754 15.5245 10.0635 15.4187 8.45654 15.4187V22.8021H0C0.131722 19.7852 0.197583 16.1729 0.197583 11.9652C0.197583 7.75741 0.131722 4.14511 0 1.12824H8.45654V8.90859H8.61461C11.7496 5.7594 14.0284 3.16595 15.451 1.12824H25.8833L16.6365 10.3773C18.0064 10.9595 19.1919 11.6476 20.193 12.4415Z" fill="#FFD84E"/>
                <path d="M53.8734 1.12824L52.9645 3.43058C50.4618 10.1259 47.8405 16.5831 45.1007 22.8021C43.6781 25.9777 41.6233 28.5183 38.9361 30.4236C36.249 32.3555 32.8769 33.2817 28.8199 33.2023C28.3194 31.0059 27.8979 29.2857 27.5554 28.0419C27.2392 26.8246 26.8177 25.594 26.2908 24.3502C27.7398 24.6942 29.0965 24.8663 30.3611 24.8663C32.4159 24.8663 34.0493 24.4296 35.2611 23.5563C34.3127 20.7247 33.1931 17.6813 31.9022 14.4263C30.6113 11.1712 28.7409 6.73856 26.2908 1.12824H35.6563C35.9724 2.45142 36.4071 3.98632 36.9603 5.73293C37.5135 7.47954 38.0668 9.16 38.62 10.7743C38.7781 11.2771 39.0284 12.0445 39.3708 13.0766C39.7397 14.0823 40.0294 14.9291 40.2402 15.6172L41.2676 12.4812C43.2434 6.73856 44.4158 2.95424 44.7846 1.12824H53.8734Z" fill="#FFD84E"/>
                <path d="M61.9125 11.9652C61.9652 13.3148 62.3867 14.3998 63.1771 15.2202C63.9938 16.0406 65.1924 16.4508 66.7731 16.4508C67.6424 16.4508 68.4196 16.292 69.1046 15.9744C69.7895 15.6304 70.4218 15.1276 71.0014 14.466C73.2406 15.3393 75.8619 16.0935 78.8651 16.7286C77.9958 18.7663 76.5205 20.3542 74.4393 21.4921C72.3844 22.6301 69.7105 23.199 66.4174 23.199C62.0179 23.199 58.7644 22.1669 56.6568 20.1028C54.5493 18.0386 53.4955 15.3261 53.4955 11.9652C53.4955 8.60426 54.5493 5.89172 56.6568 3.82754C58.7644 1.76337 62.0179 0.731277 66.4174 0.731277C69.7105 0.731277 72.3844 1.30025 74.4393 2.43819C76.5205 3.57614 77.9958 5.16396 78.8651 7.20167C76.5205 7.70449 73.8992 8.4587 71.0014 9.46433C70.4218 8.80273 69.7895 8.31315 69.1046 7.99559C68.4196 7.65156 67.6424 7.47954 66.7731 7.47954C65.1924 7.47954 63.9938 7.88973 63.1771 8.71011C62.3867 9.53049 61.9652 10.6155 61.9125 11.9652Z" fill="#FFD84E"/>
                <path d="M94.9496 23.199C90.4447 23.199 87.1253 22.1669 84.9914 20.1028C82.8839 18.0121 81.8301 15.2731 81.8301 11.8858C81.8301 8.57779 82.8839 5.89172 84.9914 3.82754C87.1253 1.76337 90.4447 0.731277 94.9496 0.731277C97.9792 0.731277 100.508 1.23409 102.537 2.23972C104.592 3.21887 106.106 4.5553 107.081 6.24898C108.056 7.9162 108.543 9.79513 108.543 11.8858C108.543 15.2996 107.41 18.0386 105.145 20.1028C102.906 22.1669 99.5072 23.199 94.9496 23.199ZM95.1077 16.4508C96.8201 16.4508 98.0978 16.0406 98.9408 15.2202C99.7838 14.3998 100.205 13.3016 100.205 11.9255C100.205 10.6287 99.7838 9.57018 98.9408 8.74981C98.0978 7.90297 96.8201 7.47954 95.1077 7.47954C93.3953 7.47954 92.1439 7.88973 91.3536 8.71011C90.5633 9.53049 90.1681 10.6023 90.1681 11.9255C90.1681 13.3016 90.5633 14.3998 91.3536 15.2202C92.1439 16.0406 93.3953 16.4508 95.1077 16.4508Z" fill="#FFD84E"/>
                <path d="M135.546 1.12824C135.414 4.09218 135.348 7.69125 135.348 11.9255C135.348 16.1332 135.414 19.7323 135.546 22.7227H126.892L126.971 18.3959C124.969 19.5867 122.809 20.1822 120.49 20.1822C117.461 20.1822 115.261 19.2956 113.891 17.5226C112.547 15.723 111.876 13.381 111.876 10.4964V7.9162C111.876 4.81993 111.823 2.55728 111.718 1.12824H119.937C119.805 4.38328 119.739 7.10905 119.739 9.30555C119.739 10.7875 120.016 11.8725 120.569 12.5606C121.149 13.2222 122.071 13.553 123.335 13.553C123.968 13.553 124.6 13.4074 125.232 13.1163C125.891 12.7988 126.484 12.3886 127.01 11.8858C127.01 6.24898 126.971 2.66314 126.892 1.12824H135.546Z" fill="#FFD84E"/>
                <path d="M159.992 12.8782H147.109C147.32 14.0426 147.834 14.9953 148.65 15.7362C149.493 16.4508 150.679 16.808 152.207 16.808C153.313 16.808 154.354 16.5963 155.329 16.1729C156.303 15.723 157.081 15.1011 157.66 14.3072C159.425 15.1805 161.77 16.12 164.694 17.1256C163.877 18.9781 162.389 20.46 160.229 21.5715C158.095 22.6565 155.302 23.199 151.851 23.199C147.373 23.199 144.053 22.1669 141.893 20.1028C139.759 18.0121 138.692 15.2731 138.692 11.8858C138.692 8.57779 139.759 5.89172 141.893 3.82754C144.027 1.76337 147.346 0.731277 151.851 0.731277C154.538 0.731277 156.87 1.18116 158.846 2.08093C160.822 2.9807 162.336 4.23773 163.39 5.85202C164.444 7.43985 164.971 9.26585 164.971 11.33C164.971 12.0181 164.944 12.5341 164.892 12.8782H159.992ZM152.405 6.72533C151.087 6.72533 150.007 6.97673 149.164 7.47954C148.321 7.98236 147.728 8.67041 147.386 9.54372H156.712C156.396 8.69688 155.882 8.02205 155.171 7.51924C154.459 6.98996 153.537 6.72533 152.405 6.72533Z" fill="#FFD84E"/>
                <path d="M188.31 12.4415C189.495 13.3942 190.404 14.466 191.036 15.6569C191.669 16.8477 192.261 18.2768 192.814 19.944C193.368 21.3995 193.763 22.3522 194 22.8021H184.477C184.397 22.6168 184.239 22.0346 184.002 21.0555C183.792 20.0763 183.581 19.2956 183.37 18.7134C183.159 18.1048 182.843 17.5755 182.422 17.1256C181.763 16.4111 181.025 15.948 180.209 15.7362C179.392 15.5245 178.18 15.4187 176.573 15.4187V22.8021H168.117C168.248 19.7852 168.314 16.1729 168.314 11.9652C168.314 7.75741 168.248 4.14511 168.117 1.12824H176.573V8.90859H176.731C179.866 5.7594 182.145 3.16595 183.568 1.12824H194L184.753 10.3773C186.123 10.9595 187.309 11.6476 188.31 12.4415Z" fill="#FFD84E"/>
                </svg>
            ul.nav__list
              li.nav__item
                a.nav__link.nav__link--active Главная
              li.nav__item
                a.nav__link(href='catalog.html') Каталог рецептов
              li.nav__item
                a.nav__link(href='#') Статьи
            ul.user-nav
              li.user-nav__item
                a.user-nav__link.user-nav__link--transparent(href='#')
                  span.user-nav__text Регистрация
              li.user-nav__item
                a.user-nav__link(href='#')
                  span.user-nav__text Вход
      main.index-page
        section.hero
          .hero__content
            .container
              .hero__body
                h1.hero__title Самые #[span.text-line вкусные], быстрые, простые
                p.hero__description На нашем сайте собрано около 50 000 рецептов. И это не просто огромный массив кулинарных рецептур, а проверенные на домашних кухнях любимые блюда наших пользователей.
                a.hero__button(href='#') Популярные рецепты
                .hero__pointer
                  img.hero__pointer-arrow(src='static/images/common/icon-arrow.png' alt='Стрелка указывающая на блюдо' width='192' height='46')
                  p.hero__pointer-text Тост с яйцом и сыром #[br] (на завтрак)
          .hero__image
            img.hero__img(src='static/images/content/hero-index@1x.png' srcset='static/images/content/hero-index@2x.png 2x' width='660' height='670' alt='Изображение яичницы')
        section.advantages
          .container
            ul.advantages__list
              li.advantages__item
                .advantages__inner
                  h3.advantages__title Быстро
                  p.advantages__text На сайте вы можете быстро найти вкусные рецепты
                  img.advantages__img(src='static/images/common/icon-clock.svg' alt='Иконка преимущества' width='125' height='127')
              li.advantages__item
                .advantages__inner
                  h3.advantages__title Просто
                  p.advantages__text Все рецепты создаются обычными пользователями
                  img.advantages__img(src='static/images/common/icon-star.svg' alt='Иконка преимущества' width='125' height='127')
              li.advantages__item
                .advantages__inner
                  h3.advantages__title Дешево
                  p.advantages__text На рецепты не придется тратить много денег
                  img.advantages__img(src='static/images/common/icon-basket.svg' alt='Иконка преимущества' width='125' height='127')
        section.popular-recipes
          .container
            h2.popular-recipes__title.section__title Популярные рецепты
            ul.recipes
              li.recipes__item
                .recipes__inner
                  img.recipes__img(src='static/images/content/idaho-potatoes.jpg' alt='Фото блюда - "Картофель Айдахо"' width='380' height='200')
                  .recipes__box
                    p.recipes__author Автор: Иван Кириллов
                    h3.recipes__name Картофель Айдахо
                    p.recipes__description Один из самых часто приготовляемых картофельных гарниров в мире
                    span.recipes__ingredients 7 ингредиентов
                    .recipes__wrapper
                      a.recipes__link(href='#') Подробнее
                      .recipes__stats
                        .
                          <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 5.0298C0.25 2.3293 2.61914 0.25 5.4 0.25C6.83347 0.25 8.09484 0.922139 9 1.79183C9.90516 0.922139 11.1665 0.25 12.6 0.25C15.3809 0.25 17.75 2.3293 17.75 5.0298C17.75 6.87967 16.9611 8.50644 15.8682 9.88154C14.7771 11.2543 13.35 12.4193 11.9835 13.366C11.4615 13.7276 10.9335 14.0611 10.4503 14.3072C9.99651 14.5383 9.47474 14.75 9 14.75C8.52526 14.75 8.00349 14.5383 7.54973 14.3072C7.06648 14.0611 6.53846 13.7276 6.01653 13.366C4.65005 12.4193 3.22287 11.2543 2.13182 9.88154C1.03888 8.50644 0.25 6.87967 0.25 5.0298ZM5.4 1.75C3.32075 1.75 1.75 3.2791 1.75 5.0298C1.75 6.43329 2.34579 7.74 3.30609 8.94822C4.26828 10.1588 5.56292 11.2269 6.87074 12.133C7.36562 12.4758 7.83174 12.7675 8.23045 12.9706C8.65865 13.1886 8.90666 13.25 9 13.25C9.09334 13.25 9.34135 13.1886 9.76955 12.9706C10.1683 12.7675 10.6344 12.4758 11.1293 12.133C12.4371 11.2269 13.7317 10.1588 14.6939 8.94822C15.6542 7.74 16.25 6.43329 16.25 5.0298C16.25 3.2791 14.6792 1.75 12.6 1.75C11.4058 1.75 10.2908 2.46342 9.59457 3.36892C9.4526 3.55356 9.23291 3.66176 9 3.66176C8.76709 3.66176 8.5474 3.55356 8.40544 3.36892C7.7092 2.46342 6.59415 1.75 5.4 1.75Z" fill="#FFD84E"/>
                          </svg>
                        span.recipes__count 258
                      .recipes__stats
                        .
                          <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.25 7C6.25 4.92893 7.92893 3.25 10 3.25C12.0711 3.25 13.75 4.92893 13.75 7C13.75 9.07107 12.0711 10.75 10 10.75C7.92893 10.75 6.25 9.07107 6.25 7ZM10 4.75C8.75736 4.75 7.75 5.75736 7.75 7C7.75 8.24264 8.75736 9.25 10 9.25C11.2426 9.25 12.25 8.24264 12.25 7C12.25 5.75736 11.2426 4.75 10 4.75Z" fill="#FFD84E"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.32343 5.64635C1.90431 6.25029 1.75 6.7227 1.75 7C1.75 7.2773 1.90431 7.74971 2.32343 8.35365C2.72857 8.93744 3.33078 9.57028 4.09267 10.155C5.61978 11.3271 7.71345 12.25 10 12.25C12.2865 12.25 14.3802 11.3271 15.9073 10.155C16.6692 9.57028 17.2714 8.93744 17.6766 8.35365C18.0957 7.74971 18.25 7.2773 18.25 7C18.25 6.7227 18.0957 6.25029 17.6766 5.64635C17.2714 5.06256 16.6692 4.42972 15.9073 3.84497C14.3802 2.67292 12.2865 1.75 10 1.75C7.71345 1.75 5.61978 2.67292 4.09267 3.84497C3.33078 4.42972 2.72857 5.06256 2.32343 5.64635ZM3.17941 2.65503C4.90965 1.32708 7.31598 0.25 10 0.25C12.684 0.25 15.0903 1.32708 16.8206 2.65503C17.6874 3.32028 18.4032 4.06244 18.9089 4.79115C19.4006 5.49971 19.75 6.2773 19.75 7C19.75 7.7227 19.4006 8.50029 18.9089 9.20885C18.4032 9.93756 17.6874 10.6797 16.8206 11.345C15.0903 12.6729 12.684 13.75 10 13.75C7.31598 13.75 4.90965 12.6729 3.17941 11.345C2.31262 10.6797 1.59681 9.93756 1.0911 9.20885C0.599371 8.50029 0.25 7.7227 0.25 7C0.25 6.2773 0.599371 5.49971 1.0911 4.79115C1.59681 4.06244 2.31262 3.32028 3.17941 2.65503Z" fill="#FFD84E"/>
                          </svg>
                        span.recipes__count 10781
              li.recipes__item
                .recipes__inner
                  img.recipes__img(src='static/images/content/bruschetta-with-tomatoes.jpg' alt='Фото блюда - "Брускетта с помидорами"' width='380' height='200')
                  .recipes__box
                    p.recipes__author Автор: Анна Сафронова
                    h3.recipes__name Брускетта с помидорами
                    p.recipes__description Вкусная итальянская закуска, простейший способ почувствовать легкую сытость
                    span.recipes__ingredients 8 ингредиентов
                    .recipes__wrapper
                      a.recipes__link(href='#') Подробнее
                      .recipes__stats
                        .
                          <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 5.0298C0.25 2.3293 2.61914 0.25 5.4 0.25C6.83347 0.25 8.09484 0.922139 9 1.79183C9.90516 0.922139 11.1665 0.25 12.6 0.25C15.3809 0.25 17.75 2.3293 17.75 5.0298C17.75 6.87967 16.9611 8.50644 15.8682 9.88154C14.7771 11.2543 13.35 12.4193 11.9835 13.366C11.4615 13.7276 10.9335 14.0611 10.4503 14.3072C9.99651 14.5383 9.47474 14.75 9 14.75C8.52526 14.75 8.00349 14.5383 7.54973 14.3072C7.06648 14.0611 6.53846 13.7276 6.01653 13.366C4.65005 12.4193 3.22287 11.2543 2.13182 9.88154C1.03888 8.50644 0.25 6.87967 0.25 5.0298ZM5.4 1.75C3.32075 1.75 1.75 3.2791 1.75 5.0298C1.75 6.43329 2.34579 7.74 3.30609 8.94822C4.26828 10.1588 5.56292 11.2269 6.87074 12.133C7.36562 12.4758 7.83174 12.7675 8.23045 12.9706C8.65865 13.1886 8.90666 13.25 9 13.25C9.09334 13.25 9.34135 13.1886 9.76955 12.9706C10.1683 12.7675 10.6344 12.4758 11.1293 12.133C12.4371 11.2269 13.7317 10.1588 14.6939 8.94822C15.6542 7.74 16.25 6.43329 16.25 5.0298C16.25 3.2791 14.6792 1.75 12.6 1.75C11.4058 1.75 10.2908 2.46342 9.59457 3.36892C9.4526 3.55356 9.23291 3.66176 9 3.66176C8.76709 3.66176 8.5474 3.55356 8.40544 3.36892C7.7092 2.46342 6.59415 1.75 5.4 1.75Z" fill="#FFD84E"/>
                          </svg>
                        span.recipes__count 169
                      .recipes__stats
                        .
                          <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.25 7C6.25 4.92893 7.92893 3.25 10 3.25C12.0711 3.25 13.75 4.92893 13.75 7C13.75 9.07107 12.0711 10.75 10 10.75C7.92893 10.75 6.25 9.07107 6.25 7ZM10 4.75C8.75736 4.75 7.75 5.75736 7.75 7C7.75 8.24264 8.75736 9.25 10 9.25C11.2426 9.25 12.25 8.24264 12.25 7C12.25 5.75736 11.2426 4.75 10 4.75Z" fill="#FFD84E"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.32343 5.64635C1.90431 6.25029 1.75 6.7227 1.75 7C1.75 7.2773 1.90431 7.74971 2.32343 8.35365C2.72857 8.93744 3.33078 9.57028 4.09267 10.155C5.61978 11.3271 7.71345 12.25 10 12.25C12.2865 12.25 14.3802 11.3271 15.9073 10.155C16.6692 9.57028 17.2714 8.93744 17.6766 8.35365C18.0957 7.74971 18.25 7.2773 18.25 7C18.25 6.7227 18.0957 6.25029 17.6766 5.64635C17.2714 5.06256 16.6692 4.42972 15.9073 3.84497C14.3802 2.67292 12.2865 1.75 10 1.75C7.71345 1.75 5.61978 2.67292 4.09267 3.84497C3.33078 4.42972 2.72857 5.06256 2.32343 5.64635ZM3.17941 2.65503C4.90965 1.32708 7.31598 0.25 10 0.25C12.684 0.25 15.0903 1.32708 16.8206 2.65503C17.6874 3.32028 18.4032 4.06244 18.9089 4.79115C19.4006 5.49971 19.75 6.2773 19.75 7C19.75 7.7227 19.4006 8.50029 18.9089 9.20885C18.4032 9.93756 17.6874 10.6797 16.8206 11.345C15.0903 12.6729 12.684 13.75 10 13.75C7.31598 13.75 4.90965 12.6729 3.17941 11.345C2.31262 10.6797 1.59681 9.93756 1.0911 9.20885C0.599371 8.50029 0.25 7.7227 0.25 7C0.25 6.2773 0.599371 5.49971 1.0911 4.79115C1.59681 4.06244 2.31262 3.32028 3.17941 2.65503Z" fill="#FFD84E"/>
                          </svg>
                        span.recipes__count 9372
              li.recipes__item
                .recipes__inner
                  img.recipes__img(src='static/images/content/apple-pie.jpg' alt='Фото блюда - "Яблочный пирог"' width='380' height='200')
                  .recipes__box
                    p.recipes__author Автор: Алексей Качеров
                    h3.recipes__name Яблочный пирог
                    p.recipes__description Пирог из терпких антоновских яблок с добавлением сметаны
                    span.recipes__ingredients 10 ингредиентов
                    .recipes__wrapper
                      a.recipes__link(href='#') Подробнее
                      .recipes__stats
                        .
                          <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 5.0298C0.25 2.3293 2.61914 0.25 5.4 0.25C6.83347 0.25 8.09484 0.922139 9 1.79183C9.90516 0.922139 11.1665 0.25 12.6 0.25C15.3809 0.25 17.75 2.3293 17.75 5.0298C17.75 6.87967 16.9611 8.50644 15.8682 9.88154C14.7771 11.2543 13.35 12.4193 11.9835 13.366C11.4615 13.7276 10.9335 14.0611 10.4503 14.3072C9.99651 14.5383 9.47474 14.75 9 14.75C8.52526 14.75 8.00349 14.5383 7.54973 14.3072C7.06648 14.0611 6.53846 13.7276 6.01653 13.366C4.65005 12.4193 3.22287 11.2543 2.13182 9.88154C1.03888 8.50644 0.25 6.87967 0.25 5.0298ZM5.4 1.75C3.32075 1.75 1.75 3.2791 1.75 5.0298C1.75 6.43329 2.34579 7.74 3.30609 8.94822C4.26828 10.1588 5.56292 11.2269 6.87074 12.133C7.36562 12.4758 7.83174 12.7675 8.23045 12.9706C8.65865 13.1886 8.90666 13.25 9 13.25C9.09334 13.25 9.34135 13.1886 9.76955 12.9706C10.1683 12.7675 10.6344 12.4758 11.1293 12.133C12.4371 11.2269 13.7317 10.1588 14.6939 8.94822C15.6542 7.74 16.25 6.43329 16.25 5.0298C16.25 3.2791 14.6792 1.75 12.6 1.75C11.4058 1.75 10.2908 2.46342 9.59457 3.36892C9.4526 3.55356 9.23291 3.66176 9 3.66176C8.76709 3.66176 8.5474 3.55356 8.40544 3.36892C7.7092 2.46342 6.59415 1.75 5.4 1.75Z" fill="#FFD84E"/>
                          </svg>
                        span.recipes__count 184
                      .recipes__stats
                        .
                          <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.25 7C6.25 4.92893 7.92893 3.25 10 3.25C12.0711 3.25 13.75 4.92893 13.75 7C13.75 9.07107 12.0711 10.75 10 10.75C7.92893 10.75 6.25 9.07107 6.25 7ZM10 4.75C8.75736 4.75 7.75 5.75736 7.75 7C7.75 8.24264 8.75736 9.25 10 9.25C11.2426 9.25 12.25 8.24264 12.25 7C12.25 5.75736 11.2426 4.75 10 4.75Z" fill="#FFD84E"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.32343 5.64635C1.90431 6.25029 1.75 6.7227 1.75 7C1.75 7.2773 1.90431 7.74971 2.32343 8.35365C2.72857 8.93744 3.33078 9.57028 4.09267 10.155C5.61978 11.3271 7.71345 12.25 10 12.25C12.2865 12.25 14.3802 11.3271 15.9073 10.155C16.6692 9.57028 17.2714 8.93744 17.6766 8.35365C18.0957 7.74971 18.25 7.2773 18.25 7C18.25 6.7227 18.0957 6.25029 17.6766 5.64635C17.2714 5.06256 16.6692 4.42972 15.9073 3.84497C14.3802 2.67292 12.2865 1.75 10 1.75C7.71345 1.75 5.61978 2.67292 4.09267 3.84497C3.33078 4.42972 2.72857 5.06256 2.32343 5.64635ZM3.17941 2.65503C4.90965 1.32708 7.31598 0.25 10 0.25C12.684 0.25 15.0903 1.32708 16.8206 2.65503C17.6874 3.32028 18.4032 4.06244 18.9089 4.79115C19.4006 5.49971 19.75 6.2773 19.75 7C19.75 7.7227 19.4006 8.50029 18.9089 9.20885C18.4032 9.93756 17.6874 10.6797 16.8206 11.345C15.0903 12.6729 12.684 13.75 10 13.75C7.31598 13.75 4.90965 12.6729 3.17941 11.345C2.31262 10.6797 1.59681 9.93756 1.0911 9.20885C0.599371 8.50029 0.25 7.7227 0.25 7C0.25 6.2773 0.599371 5.49971 1.0911 4.79115C1.59681 4.06244 2.31262 3.32028 3.17941 2.65503Z" fill="#FFD84E"/>
                          </svg>
                        span.recipes__count 8795
        section.best-authors
          .container
            h2.best-authors__title.section__title Лучшие авторы
            ul.best-authors__list
              li.best-authors__item
                .best-authors__inner
                  img.best-authors__img(src='static/images/content/author-kirrilov.png' alt='Фото автора рецептов' width='100' height='100')
                  .best-authors__box
                    h3.best-authors__name Иван Кириллов
                    p.best-authors__recipes-count Опубликовано #[a.best-authors__link(href='#') 14 рецептов] за месяц
              li.best-authors__item
                .best-authors__inner
                  img.best-authors__img(src='static/images/content/author-kachetov.png' alt='Фото автора рецептов' width='100' height='100')
                  .best-authors__box
                    h3.best-authors__name Алексей Качеров
                    p.best-authors__recipes-count Опубликовано #[a.best-authors__link(href='#') 10 рецептов] за месяц
              li.best-authors__item
                .best-authors__inner
                  img.best-authors__img(src='static/images/content/author-safronova.png' alt='Фото автора рецептов' width='100' height='100')
                  .best-authors__box
                    h3.best-authors__name Анна Сафронова
                    p.best-authors__recipes-count Опубликовано #[a.best-authors__link(href='#') 9 рецептов] за месяц
        section.articles
          .container
            h2.articles__title.section__title Статьи
            ul.articles__list
              li.articles__item
                a.articles__link(href='#')
                  img.articles__img(src='static/images/content/article-1.jpg' alt='Статья #{article.name}' width='380' height='245')
                  span.articles__date 20.08.21
                  span.articles__name Как выбрать сковороду
                    .
                      <svg class="articles__icon" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.2045 2.79549C11.7652 2.35616 11.7652 1.64384 12.2045 1.2045C12.6438 0.765165 13.3562 0.765165 13.7955 1.2045L19.7955 7.2045C20.2348 7.64384 20.2348 8.35616 19.7955 8.79549L13.7955 14.7955C13.3562 15.2348 12.6438 15.2348 12.2045 14.7955C11.7652 14.3562 11.7652 13.6438 12.2045 13.2045L16.284 9.125H1.75C1.12868 9.125 0.625 8.62132 0.625 8C0.625 7.37868 1.12868 6.875 1.75 6.875H16.284L12.2045 2.79549Z" fill="#FFD84E"/>
                      </svg>
              li.articles__item
                a.articles__link(href='#')
                  img.articles__img(src='static/images/content/article-2.jpg' alt='Статья #{article.name}' width='380' height='245')
                  span.articles__date 17.08.21
                  span.articles__name 5 секретов выбора вкусного авокадо
                    .
                      <svg class="articles__icon" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.2045 2.79549C11.7652 2.35616 11.7652 1.64384 12.2045 1.2045C12.6438 0.765165 13.3562 0.765165 13.7955 1.2045L19.7955 7.2045C20.2348 7.64384 20.2348 8.35616 19.7955 8.79549L13.7955 14.7955C13.3562 15.2348 12.6438 15.2348 12.2045 14.7955C11.7652 14.3562 11.7652 13.6438 12.2045 13.2045L16.284 9.125H1.75C1.12868 9.125 0.625 8.62132 0.625 8C0.625 7.37868 1.12868 6.875 1.75 6.875H16.284L12.2045 2.79549Z" fill="#FFD84E"/>
                      </svg>
              li.articles__item
                a.articles__link(href='#')
                  img.articles__img(src='static/images/content/article-3.jpg' alt='Статья #{article.name}' width='380' height='245')
                  span.articles__date 11.08.21
                  span.articles__name Идеальный бутерброд
                    .
                      <svg class="articles__icon" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.2045 2.79549C11.7652 2.35616 11.7652 1.64384 12.2045 1.2045C12.6438 0.765165 13.3562 0.765165 13.7955 1.2045L19.7955 7.2045C20.2348 7.64384 20.2348 8.35616 19.7955 8.79549L13.7955 14.7955C13.3562 15.2348 12.6438 15.2348 12.2045 14.7955C11.7652 14.3562 11.7652 13.6438 12.2045 13.2045L16.284 9.125H1.75C1.12868 9.125 0.625 8.62132 0.625 8C0.625 7.37868 1.12868 6.875 1.75 6.875H16.284L12.2045 2.79549Z" fill="#FFD84E"/>
                      </svg>
            .articles__bottom
              a.articles__more(href='#') Ещё
      // Добалвяем блок footer
      footer.footer
        .container
          .footer__nav
            nav.nav.nav--footer
              a.nav__logo-link
                span.visually-hidden Логотип сайта "Ещё кусочек"
                .
                  <svg class="header__logo" width="194" height="35" viewBox="0 0 194 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.12341 29.1588H2.41983C2.48042 29.4902 2.62811 29.7612 2.86289 29.9721C3.10526 30.1754 3.44608 30.277 3.88536 30.277C4.20345 30.277 4.50262 30.2168 4.78285 30.0963C5.06308 29.9683 5.28651 29.7913 5.45313 29.5655C5.96058 29.8139 6.63464 30.0812 7.47533 30.3674C7.24055 30.8945 6.81263 31.3161 6.19158 31.6324C5.5781 31.9411 4.77528 32.0954 3.78311 32.0954C2.49556 32.0954 1.54127 31.8018 0.920216 31.2145C0.306739 30.6196 0 29.8403 0 28.8765C0 27.9353 0.306739 27.171 0.920216 26.5837C1.53369 25.9964 2.48799 25.7027 3.78311 25.7027C4.55564 25.7027 5.22592 25.8307 5.79395 26.0867C6.36199 26.3427 6.79748 26.7004 7.10043 27.1597C7.40338 27.6115 7.55486 28.131 7.55486 28.7184C7.55486 28.9141 7.54728 29.061 7.53214 29.1588H6.12341ZM3.94216 27.4082C3.56347 27.4082 3.25294 27.4797 3.01058 27.6228C2.76822 27.7658 2.59781 27.9616 2.49935 28.2101H5.18047C5.08959 27.9691 4.9419 27.7771 4.73741 27.6341C4.53292 27.4835 4.26783 27.4082 3.94216 27.4082Z" fill="white"/>
                  <path d="M17.2865 29.9269V34.1849H14.9349V31.9825H8.34567C8.38354 31.1241 8.40247 30.0963 8.40247 28.8991C8.40247 27.7018 8.38354 26.674 8.34567 25.8156H10.686V29.9269H11.5607V25.8156H13.5716V29.9269H14.435V25.8156H16.7753C16.7374 26.6966 16.7185 27.7583 16.7185 29.0007V29.9269H17.2865Z" fill="white"/>
                  <path d="M24.2073 29.1588H20.5037C20.5643 29.4902 20.712 29.7612 20.9468 29.9721C21.1892 30.1754 21.53 30.277 21.9693 30.277C22.2874 30.277 22.5865 30.2168 22.8668 30.0963C23.147 29.9683 23.3704 29.7913 23.537 29.5655C24.0445 29.8139 24.7185 30.0812 25.5592 30.3674C25.3245 30.8945 24.8965 31.3161 24.2755 31.6324C23.662 31.9411 22.8592 32.0954 21.867 32.0954C20.5795 32.0954 19.6252 31.8018 19.0041 31.2145C18.3906 30.6196 18.0839 29.8403 18.0839 28.8765C18.0839 27.9353 18.3906 27.171 19.0041 26.5837C19.6176 25.9964 20.5719 25.7027 21.867 25.7027C22.6395 25.7027 23.3098 25.8307 23.8779 26.0867C24.4459 26.3427 24.8814 26.7004 25.1843 27.1597C25.4873 27.6115 25.6388 28.131 25.6388 28.7184C25.6388 28.9141 25.6312 29.061 25.616 29.1588H24.2073ZM22.0261 27.4082C21.6474 27.4082 21.3369 27.4797 21.0945 27.6228C20.8521 27.7658 20.6817 27.9616 20.5833 28.2101H23.2644C23.1735 27.9691 23.0258 27.7771 22.8213 27.6341C22.6168 27.4835 22.3517 27.4082 22.0261 27.4082ZM20.9582 25.3864C20.7537 25.3864 20.5795 25.3149 20.4356 25.1719C20.2917 25.0288 20.2197 24.8556 20.2197 24.6523C20.2197 24.4565 20.2917 24.2871 20.4356 24.144C20.5795 24.001 20.7537 23.9294 20.9582 23.9294C21.1551 23.9294 21.3255 24.001 21.4694 24.144C21.6133 24.2871 21.6852 24.4565 21.6852 24.6523C21.6852 24.8556 21.6133 25.0288 21.4694 25.1719C21.3255 25.3149 21.1551 25.3864 20.9582 25.3864ZM22.7872 25.3864C22.5827 25.3864 22.4085 25.3149 22.2646 25.1719C22.1207 25.0288 22.0488 24.8556 22.0488 24.6523C22.0488 24.4565 22.1207 24.2871 22.2646 24.144C22.4085 24.001 22.5827 23.9294 22.7872 23.9294C22.9842 23.9294 23.1546 24.001 23.2985 24.144C23.4424 24.2871 23.5143 24.4565 23.5143 24.6523C23.5143 24.8556 23.4424 25.0288 23.2985 25.1719C23.1546 25.3149 22.9842 25.3864 22.7872 25.3864Z" fill="white"/>
                  <path d="M20.193 11.7102C21.3785 12.6629 22.2873 13.7347 22.9196 14.9256C23.5519 16.1164 24.1446 17.5455 24.6978 19.2127C25.2511 20.6682 25.6462 21.6209 25.8833 22.0708H16.3598C16.2808 21.8856 16.1228 21.3033 15.8857 20.3242C15.6749 19.345 15.4641 18.5643 15.2534 17.9821C15.0426 17.3735 14.7265 16.8442 14.305 16.3943C13.6464 15.6798 12.9087 15.2167 12.0921 15.005C11.2754 14.7933 10.0635 14.6874 8.45654 14.6874V22.0708H0C0.131722 19.0539 0.197583 15.4416 0.197583 11.2339C0.197583 7.02614 0.131722 3.41383 0 0.396959H8.45654V8.17731H8.61461C11.7496 5.02812 14.0284 2.43467 15.451 0.396959H25.8833L16.6365 9.64605C18.0064 10.2283 19.1919 10.9163 20.193 11.7102Z" fill="#FFD84E"/>
                  <path d="M53.8734 0.396959L52.9645 2.69931C50.4618 9.39464 47.8405 15.8518 45.1007 22.0708C43.6781 25.2465 41.6233 27.787 38.9361 29.6924C36.249 31.6242 32.8769 32.5505 28.8199 32.4711C28.3194 30.2746 27.8979 28.5544 27.5554 27.3106C27.2392 26.0933 26.8177 24.8627 26.2908 23.6189C27.7398 23.963 29.0965 24.135 30.3611 24.135C32.4159 24.135 34.0493 23.6983 35.2611 22.825C34.3127 19.9934 33.1931 16.9501 31.9022 13.695C30.6113 10.44 28.7409 6.00728 26.2908 0.396959H35.6563C35.9724 1.72015 36.4071 3.25505 36.9603 5.00166C37.5135 6.74827 38.0668 8.42872 38.62 10.043C38.7781 10.5458 39.0284 11.3133 39.3708 12.3454C39.7397 13.351 40.0294 14.1978 40.2402 14.8859L41.2676 11.7499C43.2434 6.00728 44.4158 2.22296 44.7846 0.396959H53.8734Z" fill="#FFD84E"/>
                  <path d="M61.9125 11.2339C61.9652 12.5835 62.3867 13.6685 63.1771 14.4889C63.9938 15.3093 65.1924 15.7195 66.7731 15.7195C67.6424 15.7195 68.4196 15.5607 69.1046 15.2431C69.7895 14.8991 70.4218 14.3963 71.0014 13.7347C73.2406 14.608 75.8619 15.3622 78.8651 15.9974C77.9958 18.0351 76.5205 19.6229 74.4393 20.7608C72.3844 21.8988 69.7105 22.4678 66.4174 22.4678C62.0179 22.4678 58.7644 21.4357 56.6568 19.3715C54.5493 17.3073 53.4955 14.5948 53.4955 11.2339C53.4955 7.87298 54.5493 5.16044 56.6568 3.09626C58.7644 1.03209 62.0179 0 66.4174 0C69.7105 0 72.3844 0.568972 74.4393 1.70692C76.5205 2.84486 77.9958 4.43269 78.8651 6.4704C76.5205 6.97321 73.8992 7.72743 71.0014 8.73305C70.4218 8.07146 69.7895 7.58188 69.1046 7.26431C68.4196 6.92028 67.6424 6.74827 66.7731 6.74827C65.1924 6.74827 63.9938 7.15846 63.1771 7.97883C62.3867 8.79921 61.9652 9.88423 61.9125 11.2339Z" fill="#FFD84E"/>
                  <path d="M94.9496 22.4678C90.4447 22.4678 87.1253 21.4357 84.9914 19.3715C82.8839 17.2809 81.8301 14.5419 81.8301 11.1545C81.8301 7.84652 82.8839 5.16044 84.9914 3.09626C87.1253 1.03209 90.4447 0 94.9496 0C97.9792 0 100.508 0.502813 102.537 1.50844C104.592 2.4876 106.106 3.82402 107.081 5.5177C108.056 7.18492 108.543 9.06385 108.543 11.1545C108.543 14.5683 107.41 17.3073 105.145 19.3715C102.906 21.4357 99.5072 22.4678 94.9496 22.4678ZM95.1077 15.7195C96.8201 15.7195 98.0978 15.3093 98.9408 14.4889C99.7838 13.6685 100.205 12.5703 100.205 11.1942C100.205 9.89746 99.7838 8.83891 98.9408 8.01853C98.0978 7.17169 96.8201 6.74827 95.1077 6.74827C93.3953 6.74827 92.1439 7.15846 91.3536 7.97883C90.5633 8.79921 90.1681 9.87099 90.1681 11.1942C90.1681 12.5703 90.5633 13.6685 91.3536 14.4889C92.1439 15.3093 93.3953 15.7195 95.1077 15.7195Z" fill="#FFD84E"/>
                  <path d="M135.546 0.396959C135.414 3.3609 135.348 6.95998 135.348 11.1942C135.348 15.4019 135.414 19.001 135.546 21.9914H126.892L126.971 17.6646C124.969 18.8554 122.809 19.4509 120.49 19.4509C117.461 19.4509 115.261 18.5643 113.891 16.7913C112.547 14.9917 111.876 12.6497 111.876 9.76514V7.18492C111.876 4.08866 111.823 1.826 111.718 0.396959H119.937C119.805 3.652 119.739 6.37777 119.739 8.57427C119.739 10.0562 120.016 11.1413 120.569 11.8293C121.149 12.4909 122.071 12.8217 123.335 12.8217C123.968 12.8217 124.6 12.6762 125.232 12.3851C125.891 12.0675 126.484 11.6573 127.01 11.1545C127.01 5.5177 126.971 1.93186 126.892 0.396959H135.546Z" fill="#FFD84E"/>
                  <path d="M159.992 12.1469H147.109C147.32 13.3113 147.834 14.264 148.65 15.005C149.493 15.7195 150.679 16.0768 152.207 16.0768C153.313 16.0768 154.354 15.865 155.329 15.4416C156.303 14.9917 157.081 14.3698 157.66 13.5759C159.425 14.4492 161.77 15.3887 164.694 16.3943C163.877 18.2468 162.389 19.7288 160.229 20.8402C158.095 21.9252 155.302 22.4678 151.851 22.4678C147.373 22.4678 144.053 21.4357 141.893 19.3715C139.759 17.2809 138.692 14.5419 138.692 11.1545C138.692 7.84652 139.759 5.16044 141.893 3.09626C144.027 1.03209 147.346 0 151.851 0C154.538 0 156.87 0.449885 158.846 1.34965C160.822 2.24942 162.336 3.50645 163.39 5.12074C164.444 6.70857 164.971 8.53457 164.971 10.5987C164.971 11.2868 164.944 11.8029 164.892 12.1469H159.992ZM152.405 5.99405C151.087 5.99405 150.007 6.24545 149.164 6.74827C148.321 7.25108 147.728 7.93914 147.386 8.81244H156.712C156.396 7.9656 155.882 7.29077 155.171 6.78796C154.459 6.25869 153.537 5.99405 152.405 5.99405Z" fill="#FFD84E"/>
                  <path d="M188.31 11.7102C189.495 12.6629 190.404 13.7347 191.036 14.9256C191.669 16.1164 192.261 17.5455 192.814 19.2127C193.368 20.6682 193.763 21.6209 194 22.0708H184.477C184.397 21.8856 184.239 21.3033 184.002 20.3242C183.792 19.345 183.581 18.5643 183.37 17.9821C183.159 17.3735 182.843 16.8442 182.422 16.3943C181.763 15.6798 181.025 15.2167 180.209 15.005C179.392 14.7933 178.18 14.6874 176.573 14.6874V22.0708H168.117C168.248 19.0539 168.314 15.4416 168.314 11.2339C168.314 7.02614 168.248 3.41383 168.117 0.396959H176.573V8.17731H176.731C179.866 5.02812 182.145 2.43467 183.568 0.396959H194L184.753 9.64605C186.123 10.2283 187.309 10.9163 188.31 11.7102Z" fill="#FFD84E"/>
                  </svg>
              ul.nav__list
                li.nav__item
                  a.nav__link.nav__link--active Главная
                li.nav__item
                  a.nav__link(href='catalog.html') Каталог рецептов
                li.nav__item
                  a.nav__link(href='#') Статьи
              ul.social-list
                li.social-list__item
                  a.social-list__link(href='#' target='_blank' rel='nofollow noopener')
                    span.visually-hidden Ссылка на instagram
                    .
                      <svg class="social-list__icon" width="29" height="29" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21 7.50007C21 6.67164 21.6716 6.00007 22.5 6.00007C23.3285 6.00007 24 6.67164 24 7.50007C24 8.3285 23.3285 9.00007 22.5 9.00007C21.6716 9.00007 21 8.3285 21 7.50007Z"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M15 7.87507C11.065 7.87507 7.87503 11.065 7.87503 15.0001C7.87503 18.9351 11.065 22.1251 15 22.1251C18.9351 22.1251 22.125 18.9351 22.125 15.0001C22.125 11.065 18.9351 7.87507 15 7.87507ZM10.125 15.0001C10.125 12.3077 12.3076 10.1251 15 10.1251C17.6924 10.1251 19.875 12.3077 19.875 15.0001C19.875 17.6925 17.6924 19.8751 15 19.8751C12.3076 19.8751 10.125 17.6925 10.125 15.0001Z"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M22.8874 1.24959C17.6876 0.66843 12.3125 0.66843 7.11268 1.24959C4.0946 1.58691 1.6581 3.96442 1.30327 6.99822C0.681462 12.3147 0.681462 17.6855 1.30327 23.0019C1.6581 26.0357 4.0946 28.4132 7.11269 28.7505C12.3125 29.3317 17.6875 29.3317 22.8874 28.7505C25.9055 28.4132 28.342 26.0357 28.6968 23.0019C29.3186 17.6855 29.3186 12.3147 28.6968 6.99822C28.342 3.96442 25.9055 1.58691 22.8874 1.24959ZM7.3626 3.48567C12.3964 2.92307 17.6037 2.92307 22.6375 3.48567C24.6327 3.70866 26.2309 5.28308 26.4621 7.25959C27.0636 12.4024 27.0636 17.5978 26.4621 22.7405C26.2309 24.7171 24.6327 26.2915 22.6375 26.5145C17.6037 27.0771 12.3964 27.0771 7.3626 26.5145C5.36744 26.2915 3.76921 24.7171 3.53804 22.7405C2.93654 17.5978 2.93654 12.4024 3.53804 7.25959C3.76921 5.28308 5.36744 3.70866 7.3626 3.48567Z"/>
                      </svg>
                li.social-list__item
                  a.social-list__link(href='#' target='_blank' rel='nofollow noopener')
                    span.visually-hidden Ссылка на telegram
                    .
                      <svg class="social-list__icon" width="31" height="27" viewBox="0 0 31 28" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68143 17.0294C6.74709 17.0515 6.81336 17.0672 6.87957 17.0769C6.95177 17.2465 7.04507 17.466 7.1539 17.7227C7.41951 18.3492 7.7774 19.1964 8.14681 20.0803C8.90018 21.8828 9.6601 23.7409 9.82793 24.2728C10.0357 24.9302 10.2553 25.3773 10.4951 25.6824C10.619 25.8402 10.7624 25.978 10.9302 26.0823C11.0146 26.1349 11.1038 26.178 11.1969 26.21C11.201 26.2115 11.2051 26.2128 11.2092 26.2142C11.6893 26.3954 12.1269 26.3199 12.4009 26.2276C12.5475 26.1783 12.6661 26.1186 12.7502 26.0703C12.7931 26.0456 12.8293 26.0226 12.8582 26.0032L12.865 25.9986L17.1043 23.3549L22.0011 27.1091C22.0734 27.1645 22.1522 27.211 22.2356 27.2474C22.8239 27.5041 23.3936 27.5936 23.9295 27.5204C24.4644 27.4474 24.8892 27.2226 25.2053 26.9697C25.515 26.7219 25.7249 26.4445 25.8556 26.2383C25.9223 26.1331 25.9725 26.04 26.0078 25.9686C26.0256 25.9328 26.0398 25.9019 26.0508 25.8771L26.065 25.8444L26.0703 25.8316L26.0726 25.8261L26.0736 25.8236L26.0745 25.8212C26.1003 25.7569 26.12 25.6903 26.1335 25.6224L30.6038 3.08411C30.6181 3.01203 30.6253 2.93872 30.6253 2.86524C30.6253 2.20522 30.3766 1.57761 29.7919 1.19677C29.2921 0.871277 28.7353 0.857266 28.3835 0.883974C28.0039 0.912783 27.6533 1.00648 27.4181 1.08136C27.2957 1.12032 27.193 1.15792 27.119 1.1866C27.0818 1.20102 27.0513 1.21338 27.0286 1.22282L27.0116 1.23L1.941 11.0648L1.93776 11.066C1.92178 11.0718 1.90127 11.0794 1.87689 11.0889C1.82834 11.1078 1.7633 11.1345 1.68732 11.1689C1.53914 11.2361 1.33127 11.341 1.11796 11.4871C0.777178 11.7205 -0.00655693 12.3596 0.125415 13.4146C0.230698 14.2562 0.807269 14.7731 1.15855 15.0216C1.35144 15.1581 1.53469 15.2557 1.66814 15.3192C1.73006 15.3487 1.8586 15.4009 1.91438 15.4236L1.92845 15.4293L6.68143 17.0294ZM27.889 3.3018L27.8855 3.30332C27.873 3.30874 27.8604 3.31394 27.8477 3.31891L2.74672 13.1657C2.73362 13.1708 2.72041 13.1757 2.70712 13.1804L2.69315 13.1857C2.6771 13.1919 2.65006 13.2029 2.61612 13.2183C2.59688 13.227 2.57681 13.2365 2.55633 13.2467C2.58446 13.2625 2.61138 13.2763 2.6353 13.2877C2.65826 13.2986 2.67578 13.3061 2.68537 13.31L7.39931 14.897C7.48559 14.9261 7.56603 14.9646 7.63986 15.011L23.205 5.89922L23.2196 5.8906C23.2309 5.88391 23.2458 5.8753 23.2637 5.86521C23.2991 5.84518 23.3478 5.81851 23.4057 5.78905C23.5137 5.73407 23.6865 5.65245 23.8812 5.59228C24.0168 5.55038 24.4165 5.43235 24.8486 5.57095C25.1154 5.6565 25.3915 5.84041 25.5711 6.15197C25.6603 6.30676 25.7079 6.46224 25.7309 6.60458C25.7921 6.8288 25.7824 7.05021 25.7345 7.24136C25.6314 7.65312 25.3421 7.97431 25.0788 8.21997C24.8533 8.4306 21.9352 11.2444 19.0565 14.022C17.6209 15.4072 16.2 16.7787 15.1379 17.8039L14.4404 18.4773L23.2483 25.2301C23.4503 25.3024 23.5697 25.2987 23.6249 25.2911C23.6908 25.2822 23.7446 25.2568 23.7997 25.2128C23.8612 25.1635 23.9151 25.0971 23.9553 25.0336L23.9569 25.031L28.2926 3.17153C28.2283 3.18699 28.1632 3.20541 28.1005 3.22537C28.0295 3.24798 27.9709 3.26951 27.9321 3.28456C27.9129 3.29201 27.899 3.29766 27.8915 3.30078L27.889 3.3018ZM15.1971 21.8926L13.4398 20.5454L13.014 23.254L15.1971 21.8926ZM11.8278 17.8721L13.5753 16.1851C14.6374 15.1598 16.0585 13.7882 17.4942 12.4029L18.9529 10.9955L9.17291 16.7207L9.22539 16.8444C9.49194 17.4731 9.85142 18.3241 10.2228 19.2126C10.5005 19.8771 10.7909 20.5767 11.0554 21.2244L11.4799 18.5238C11.5208 18.2634 11.648 18.038 11.8278 17.8721Z"/>
                      </svg>
                li.social-list__item
                  a.social-list__link(href='#' target='_blank' rel='nofollow noopener')
                    span.visually-hidden Ссылка на vkontakte
                    .
                      <svg class="social-list__icon" width="35" height="23" viewBox="0 0 36 23" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M35.1074 18.2975C34.2916 16.6542 33.2166 15.1532 31.9238 13.8519C31.4838 13.3405 30.9679 12.8357 30.5652 12.4417L30.5089 12.3867C30.3013 12.1834 30.1296 12.0147 29.9891 11.8693C31.7569 9.41112 33.2699 6.77892 34.5045 4.01334L34.5543 3.90175L34.5892 3.78464C34.7515 3.2403 34.9383 2.2052 34.2773 1.26976C33.594 0.302884 32.4999 0.128513 31.7673 0.128513H28.3967C27.694 0.0962983 26.9982 0.28626 26.4087 0.672469C25.8147 1.06159 25.3603 1.62916 25.1103 2.29265C24.3844 4.02169 23.4761 5.6663 22.4021 7.19897V3.24904C22.4021 2.73845 22.354 1.88434 21.8073 1.16344C21.1527 0.300281 20.2061 0.128513 19.549 0.128513H14.2006C13.5116 0.112577 12.8414 0.358961 12.3264 0.818884C11.799 1.28989 11.4758 1.94781 11.4253 2.65314L11.4205 2.71996V2.78695C11.4205 3.51517 11.7091 4.05233 11.9396 4.39016C12.0428 4.54141 12.1532 4.67909 12.223 4.76605L12.2391 4.78612C12.3134 4.87885 12.3631 4.94073 12.4129 5.00849C12.5439 5.18672 12.7324 5.46152 12.7857 6.17261V8.38205C11.8637 6.86635 10.891 4.84935 10.1591 2.69516L10.1479 2.6621L10.1355 2.62948C9.95297 2.15155 9.66029 1.45615 9.07411 0.923996C8.38932 0.302318 7.57934 0.128513 6.84273 0.128513H3.42281C2.67759 0.128513 1.7792 0.302849 1.10886 1.00999C0.449659 1.70537 0.375 2.5386 0.375 2.98164V3.18133L0.417058 3.37654C1.36432 7.77322 3.31614 11.8905 6.11919 15.4065C7.39002 17.4106 9.11202 19.0904 11.1482 20.3113C13.2169 21.5517 15.5506 22.2828 17.9572 22.4446L18.02 22.4488H18.0829C19.1717 22.4488 20.3067 22.3548 21.1602 21.7861C22.3116 21.0188 22.4021 19.8404 22.4021 19.2532V17.5463C22.6975 17.7852 23.0642 18.1067 23.5129 18.5388C24.0555 19.0819 24.4874 19.5524 24.858 19.9631L25.0557 20.183L25.0569 20.1842C25.3446 20.5046 25.6278 20.82 25.8857 21.0792C26.2098 21.4051 26.6094 21.7641 27.1117 22.0294C27.6556 22.3166 28.2266 22.4465 28.8329 22.4465H32.2552C32.9762 22.4465 34.0103 22.276 34.7373 21.4331C35.5296 20.5145 35.4691 19.3886 35.22 18.5795L35.1752 18.4339L35.1074 18.2975ZM26.5286 18.4559C26.1433 18.0289 25.6788 17.5226 25.0918 16.9356L25.0869 16.9308C23.0527 14.9697 22.1023 14.6279 21.4301 14.6279C21.0727 14.6279 20.6772 14.668 20.4205 14.9878C20.2994 15.1387 20.2357 15.3207 20.2 15.5105C20.1644 15.7 20.1521 15.9224 20.1521 16.1758V19.2532C20.1521 19.6354 20.0893 19.7959 19.9125 19.9137C19.677 20.0706 19.1737 20.1978 18.0955 20.1988C16.049 20.0593 14.0646 19.4365 12.3052 18.3816C10.5423 17.3245 9.05563 15.8638 7.96781 14.1196L7.95597 14.1006L7.94196 14.0832C5.33006 10.8322 3.51004 7.01857 2.62545 2.94365C2.63025 2.74721 2.67281 2.63067 2.74176 2.55793C2.81281 2.48298 2.98498 2.37851 3.42281 2.37851H6.84273C7.22317 2.37851 7.42005 2.46127 7.56175 2.58991C7.7224 2.73575 7.86173 2.98341 8.03101 3.42563C8.87043 5.8946 10.0056 8.20352 11.0805 9.90127C11.6178 10.7498 12.1465 11.4561 12.6229 11.9553C12.8608 12.2044 13.094 12.4109 13.3165 12.5577C13.532 12.6998 13.7762 12.8118 14.0274 12.8118C14.1599 12.8118 14.3149 12.7982 14.4642 12.7321C14.6247 12.661 14.7494 12.5425 14.8374 12.3838C14.993 12.103 15.0357 11.687 15.0357 11.1421V6.09649L15.0349 6.08465C14.9572 4.85713 14.5866 4.16665 14.2257 3.67578C14.1466 3.5682 14.0686 3.47102 14.0004 3.38599L13.9817 3.36269C13.9068 3.26924 13.8471 3.19373 13.7981 3.12192C13.7084 2.99036 13.6736 2.89863 13.6707 2.80034C13.6824 2.68367 13.7374 2.57541 13.8251 2.49708C13.9162 2.41578 14.0353 2.37346 14.1572 2.37851H19.549C19.858 2.37851 19.9621 2.45393 20.0145 2.52302C20.0885 2.62056 20.1521 2.82339 20.1521 3.24904V10.042C20.1521 10.8489 20.524 11.3951 21.0642 11.3951C21.6858 11.3951 22.1339 11.0179 22.9174 10.2344L22.9305 10.2213L22.9422 10.207C24.6984 8.06534 26.1337 5.67947 27.2021 3.12415L27.2089 3.10499C27.2892 2.8792 27.4412 2.68588 27.6417 2.55455C27.8421 2.42322 28.0801 2.36108 28.3192 2.37762L28.3321 2.37851H31.7673C32.2358 2.37851 32.3899 2.49775 32.4398 2.56825C32.4928 2.64328 32.5297 2.80406 32.4395 3.11938C31.2079 5.87398 29.6848 8.48869 27.8971 10.9195L27.8858 10.9368C27.7122 11.2022 27.5218 11.4958 27.4942 11.8331C27.4646 12.1952 27.6214 12.5244 27.8956 12.8772C28.0953 13.1727 28.5074 13.576 28.9254 13.9852L28.9648 14.0237C29.4031 14.4527 29.8779 14.9174 30.2591 15.3673L30.2693 15.3793L30.2804 15.3904C31.4166 16.5238 32.3614 17.8339 33.0781 19.2698C33.1924 19.6607 33.1224 19.8605 33.0335 19.9635C32.9294 20.0842 32.6965 20.1965 32.2552 20.1965H28.8329C28.5658 20.1965 28.3594 20.1438 28.1624 20.0397C27.957 19.9313 27.7457 19.7587 27.4809 19.4925C27.2676 19.278 27.0345 19.0186 26.7502 18.7021C26.6797 18.6237 26.6059 18.5416 26.5286 18.4559Z"/>
                      </svg>
                li.social-list__item
                  a.social-list__link(href='#' target='_blank' rel='nofollow noopener')
                    span.visually-hidden Ссылка на youtube
                    .
                      <svg class="social-list__icon" width="31" height="23" viewBox="0 0 32 24" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5787 6.53537C13.2312 6.32684 12.7984 6.32138 12.4457 6.52107C12.093 6.72076 11.8749 7.09474 11.8749 7.50005V16.5C11.8749 16.9054 12.093 17.2793 12.4457 17.479C12.7984 17.6787 13.2312 17.6733 13.5787 17.4647L21.0787 12.9647C21.4176 12.7614 21.6249 12.3952 21.6249 12C21.6249 11.6049 21.4176 11.2387 21.0787 11.0354L13.5787 6.53537ZM18.3133 12L14.1249 14.5131V9.48701L18.3133 12Z"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.546 0.961967C18.523 0.568993 13.477 0.568993 8.45401 0.961967L5.09296 1.22492C3.04911 1.38482 1.37708 2.91663 1.03923 4.93869C0.258082 9.61385 0.258082 14.3862 1.03923 19.0614C1.37708 21.0835 3.04911 22.6153 5.09296 22.7752L8.45401 23.0381C13.477 23.4311 18.523 23.4311 23.546 23.0381L26.907 22.7752C28.9509 22.6153 30.6229 21.0835 30.9607 19.0614C31.7419 14.3862 31.7419 9.61385 30.9607 4.93869C30.6229 2.91663 28.9509 1.38482 26.907 1.22492L23.546 0.961967ZM8.62951 3.20511C13.5357 2.82128 18.4643 2.82128 23.3705 3.20511L26.7315 3.46807C27.7449 3.54735 28.574 4.30688 28.7415 5.30949C29.4816 9.73915 29.4816 14.2609 28.7415 18.6906C28.574 19.6932 27.7449 20.4527 26.7315 20.532L23.3705 20.795C18.4643 21.1788 13.5357 21.1788 8.62951 20.795L5.26846 20.532C4.25504 20.4527 3.42599 19.6932 3.25847 18.6906C2.51834 14.2609 2.51834 9.73915 3.25847 5.30949C3.42599 4.30688 4.25504 3.54735 5.26846 3.46807L8.62951 3.20511Z"/>
                      </svg>
        p.footer__copyright © ООО «Интерактивные обучающие технологии», 2013−2021
